{% extends 'base.html' %}
{% block title %}Doctors{% endblock %}

{% block content %}

    <div class = "doctors-deck container">
        <h1>Doctors</h1>
        <div class = "card-deck row">
          {% for doc in data %}
            <div class="card">
              <img class="card-img-top" src="{{doc['photo_link']}}" alt="Card image cap">
              <div class="card-body">
                <a href="/doctors/{{doc['npi']}}"><h4 class="card-title">{{ doc['first_name'] }}  {{ doc['last_name'] }}</h4></a>
                <h5>{{ doc['job_title'] }}</h5>
                <p class="card-text">Rating: {{ doc['avg_rating'] }}</p>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>

{% endblock %}