{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

    <div class = "container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <img src="/static/images/health-insurance.png" class = "home_img">
        <div class = "text_container">
            <h1>Columbia Insurance</h1>
            <p>Welcome students! This site allows you to search for doctors under Columbia's 
            Aetna Student Health Insurance plan, leave reviews, and book appointments.</p>

            {% if g.user == None %}
                <a href="{{url_for('login')}}">login</a>
                <a href="{{url_for('newUser')}}">sign up</a>
            {% endif %}
        </div>
    </div>

{% endblock %}