{% extends 'base.html' %}
{% block title %}New Review{% endblock %}

{% block content %}

    <div class = "container">

        {% if error_statement %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ error_statement }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}

        <h1>Write a Review</h1>
        <br/>

        <form method = "POST">
            {{ form.hidden_tag() }}

            {{ form.date_of_visit.label(class="form-label") }}
            {{ form.date_of_visit(class="form-control") }}
            <br/>

            {{ form.rating.label(class="form-label") }}
            {{ form.rating(class="form-control") }}
            <br/>

            {{ form.review_content.label(class="form-label") }}
            {{ form.review_content(class="form-control") }}
            <br/>

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>

{% endblock %}