{% extends 'base.html' %}
{% block title %}New User{% endblock %}

{% block content %}

    <div class = "container">

        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

        <h1>New Student User</h1>
        <br/>

        <form method = "POST">
            {{ form.hidden_tag() }}

            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control") }}
            <br/>

            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control") }}
            <br/>

            {{ form.uni.label(class="form-label") }}
            {{ form.uni(class="form-control") }}
            <br/>

            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
            <br/>

            {{ form.age.label(class="form-label") }}
            {{ form.age(class="form-control") }}
            <br/>

            {{ form.school.label(class="form-label") }}
            {{ form.school(class="form-control") }}
            <br/>

            <button onclick="history.back()" class="btn btn-warning">Cancel</button>
            {{ form.submit(class="btn btn-success") }}
        </form>

    </div>

{% endblock %}