{% extends 'base.html' %}
{% block title %}Specific Review{% endblock %}

{% block content %}

    <div class = "container">

        {% if error_statement %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ error_statement }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        
        <h1>See Review</h1>
        <br/><br/>
        <div>
            <div class="row">
                <div class="col"><h6>Student UNI: </h6><p>{{data['uni']}}</p></div>
                <div class="col"><h6>Doctor: </h6><a href="\doctors\{{data['npi']}}">{{ data['first_name'] }}  {{ data['last_name'] }}</a></div>
                <div class="col"><h6>Rating: </h6><p>{{data['rating']}}</p></div>
                <div class="col"><h6>Date Written: </h6><p>{{data['date_written']}}</p></div>
                <div class="col"><h6>Date Visited: </h6><p>{{data['date_of_visit']}}</p></div>
            </div>

            <h6>Review: </h6><p>{{data['content']}}</p>
            <br/>
        </div>
    </div>

{% endblock %}