{% extends 'base.html' %}
{% block title %}All Users{% endblock %}

{% block content %}
    <div class = "container">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}

        <h1>All Users</h1>
      
        <div>
          {% for user in data %}
            <div class ="round-list col-lg-4">
              <a href="/users/{{user['uni']}}">{{ user['first_name'] }}  {{ user['last_name'] }} ({{ user['uni'] }})</a>
            </div>
          {% endfor %}
        </div>
    </div>
    <br/><br/>
{% endblock %}